@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans', sans-serif;
}

header {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.12);
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  padding: 30px;
}

/* dark mode button toggle */
.btn-toggle {
  border: none;
  font-size: 16px;
  background: none;
}

.btn-toggle .fas {
  display: none;
}

body.dark .btn-toggle .fas {
  display: inline-block;
}

body.dark .btn-toggle .far {
  display: none;
}

/* input styling */
.search {
  padding: 25px;
  border-radius: 4px;
  border: none;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.12);
  min-width: 300px;
  font-size: 14px;
  ;
}

/* dropdown menu */
.dropdown {
  border-radius: 4px;
  background-color: white;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 20px;
  font-size: 14px;
  position: relative;
}

.dropdown .fa-chevron-down {
  margin-left: 10px;
}

.dropdown ul {
  border-radius: 4px;
  background-color: white;
  position: absolute;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.12);
  display: none;
  width: 100%;
  top: 63px;
  left: 0;
  list-style-type: none;
}

.dropdown.open ul {
  display: block;
}

/* country card styling */
.country {
  max-width: 300px;
  background-color: white;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  margin: 20px;
}

.country-body h2 {
  margin: 2px 0;
}

.country-body {
  padding: 30px;
}

.country-body p {
  padding: 5px 0;
}

.container .countries {
  justify-content: center;
}